%h1 Proctor Management Module Project

        
%h3 Requirements
%ul
    %li
        %pre Add an invigilator
    %li
        %pre Manage an invigilator
    %li
        %pre Manage an invigilator to examination room by automatically
    %li
        %pre Search an invigilator's name and examination room
%h3 User Stories
%ul
    %li Feature: Add an invigilator
    %pre &nbspAs an admin
    %pre &nbspSo that I can add the invigilator
    %pre &nbspI want to add the invigilator to examination room
    %br
    %li Feature: Manage an invigilator
    %pre &nbspAs an admin
    %pre &nbspSo that I can manage an invigilator
    %pre &nbspI want to edit, delete, and insert the invigilator to proctor management module
    %br
    %li Feature: Manage an invigilator to examination room (manual)
    %pre &nbspAs an admin
    %pre &nbspSo that I can manage the examination room
    %pre &nbspI want to edit, delete, and insert the invigilator room
    %br
    %li Feature: Search invigilator's name and examination room
    %pre &nbspAs an user and an admin
    %pre &nbspSo that I can search information from database
    %pre &nbspI want to search name or examination room from database
    %br
%h3 ER-Diagram
%ul
    %img{src: "assets/ER-Proctor.png", :height => "600", :width => "800"}
%h3 Link
%ul
    %li
        %a{:href => "https://github.com/chotika/term-project"} Link to:Github
    %li           
        %a{:href => "https://www.pivotaltracker.com/n/projects/1298596"} Link to:Pivotaltracker
            
%h3 Member
%ul
    %li
        %pre Chotika Banditphat 5310610620
    %li
        %pre Supanut Supamitgijja 5410610728
    %li
        %pre Ratithorn Visavajuntrarom 5410610967
    %li
        %pre Papichaya Pattaralikitsakul 5410611965
    %li
        %pre Mookravee Chewtrakul 5410613128
    %li
        %pre Suchanaree Jenyuthana 5410613326