%h1 Proctor Management Module Project

        
%h3 Requirements
%ul
    %li
        %pre Add a proctor
    %li
        %pre Manage a proctor
    %li
        %pre Search a proctor's name
%h3 User Stories
%ul
    %li Feature: Add a proctor
    %pre &nbspAs a user
    %pre &nbspSo that I can add the proctor
    %pre &nbspI want to add the proctor to examination room
    %br
    %li Feature: Manage a proctor
    %pre &nbspAs a user
    %pre &nbspSo that I can manage a proctor
    %pre &nbspI want to edit, delete, and update the proctor to proctor management module
    %br
    %li Feature: Search proctor's name
    %pre &nbspAs a user
    %pre &nbspSo that I can search information from database
    %pre &nbspI want to search name from database
    %br
%h3 ER-Diagram
%ul
    %img{src: "assets/ER-Proctor2.png", :height => "600", :width => "800"}
    
%h3 Lo-fi Morkups
%ul
    %img{src: "assets/Lo-fi.jpg", :height => "800", :width => "600"}
%h3 Storyboard
%ul
    %img{src: "assets/Story.jpg", :height => "800", :width => "600"}
        
%h3 Link
%ul
    %li
        %a{:href => "https://github.com/chotika/term-project"} Link to:Github
    %li           
        %a{:href => "https://www.pivotaltracker.com/n/projects/1298596"} Link to:Pivotaltracker
            
%h3 Member
%ul
    %li
        %pre Chotika Banditphat 5310610620
    %li
        %pre Supanut Supamitgijja 5410610728
    %li
        %pre Ratithorn Visavajuntrarom 5410610967
    %li
        %pre Papichaya Pattaralikitsakul 5410611965
    %li
        %pre Mookravee Chewtrakul 5410613128
    %li
        %pre Suchanaree Jenyuthana 5410613326